/* default */
:root {
  --primary-color-rgb: 251, 106, 25;
  --primary-color: #FB6A19;
  --background-color: #fff;

  --border-radius: 16px;
  --screen-width: 1280px;

  --screen-md: 1024px;
  --screen-sm: 640px;
  --screen-xs: 480px;

  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button {
  border-radius: var(--border-radius);
}

.button--primary {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.logo {
  width: 72px;
  height: 72px;
}

.main {
  padding-top: 100px;
  background-color: rgba(var(--primary-color-rgb), 0.1);  
}

.main section {
  padding: 32px 0;
}

.main__wrapper {
  display: flex;
  flex-direction: column;

  row-gap: 32px;

  max-width: var(--screen-width);
  margin: 0 auto;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  padding: 16px 0px;
}

.header__container {
  max-width: var(--screen-width);
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  column-gap: 12px;
}

.header__link {
  color: var(--primary-color);
  font-size: 1.2rem;
}

/* hero */
.hero {
  background-color: var(--background-color);

  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.hero__wrapper {
  display: flex;
  flex-direction: column;

  max-width: var(--screen-width);
  margin: 0 auto;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__title {
  font-size: 2rem;
}

.hero__image {
  width: 540px;

  -webkit-box-shadow: 4px 8px 10px 0px rgba(var(--primary-color-rgb), 0.2);
  -moz-box-shadow: 4px 8px 10px 0px rgba(var(--primary-color-rgb), 0.2);
  box-shadow: 4px 8px 10px 0px rgba(var(--primary-color-rgb), 0.2);

  border-radius: var(--border-radius);
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 40%;

  row-gap: 12px;
}

.hero__quote {
  text-align: center;
}

.hero__button {
  max-width: 240px;
  padding: 16px 36px;
  font-size: 1.3rem;
}

@media (max-width: 1024px) {
  .hero__container {
    flex-direction: column-reverse;
    row-gap: 24px;
  }

  .hero__title {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .hero__button {
    padding: 8px 18px;
    font-size: 1rem;
  }
}

/* kits */
.kits__subtitle {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.kits__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.kit__image {
  border-radius: var(--border-radius);
  width: 480px;
}

.kit {
  position: relative;
}

.kit__title {
  position: absolute;
  left: 12px;
  bottom: 12px;

  font-size: 1.4rem;

  color: var(--background-color);
}

@media (max-width: 1024px) {
  .kits__content {
    flex-direction: column;
    row-gap: 24px;
  }
}

/* history */
.history__subtitle {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.history__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.history__article {
  width: 40%;
}

.history__text {
  font-size: 1.4rem;
}

.history__image {
  width: 480px;

  border-radius: var(--border-radius);
}

@media (max-width: 1024px) {
  .history__container {
    flex-direction: column-reverse;
    row-gap: 24px;
  }

  .history__article {
    padding-left: 8px;
    padding-right: 8px;

    max-width: 480px;
    width: 100%;
  }

  .history__text {
    font-size: 1rem;
  }  
}

/* catalog */
.catalog__subtitle {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.catalog__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;

  max-width: var(--screen-width);
  margin: 0 auto;
}

/* product */
.product {
  padding: 12px 8px;

  -webkit-box-shadow: 4px 8px 10px 0px rgba(var(--primary-color-rgb), 0.2);
  -moz-box-shadow: 4px 8px 10px 0px rgba(var(--primary-color-rgb), 0.2);
  box-shadow: 4px 8px 10px 0px rgba(var(--primary-color-rgb), 0.2);

  border-radius: var(--border-radius);
  background-color: var(--background-color);
}

.product__container {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.product__title {
  text-align: center;
  font-size: 1.4rem;

  padding-bottom: 10px;
}

.product__buttons {
  margin: 0 auto;
}

.product__button {
  padding: 8px 16px;
}

/* additional-info */
.additional-info__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 640px) {
  .additional-info {
    display: none;
  }
}

/* footer */
.footer {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);

  padding-top: 32px;
  padding-bottom: 32px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  row-gap: 12px;
}

.footer__list {
  display: flex;
  column-gap: 12px;
}

.footer__list a {
  color: var(--primary-color);
  font-size: 1.2rem;
}

/* prices */
/* Стиль для секции таблицы */
.price-list {
  margin: 2rem 0;
}

.price-list__title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

/* Сетка для таблицы */
.price-list__table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 800px;
  margin: 0 auto;
}

.price-list__header {
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}

.price-list__row {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.price-list__row:nth-child(even) {
  background-color: #f9f9f9;
}

.price-list__row:nth-child(odd) {
  background-color: #ffffff;
}

@media (max-width: 640px) {
  .price-list__table {
    grid-template-columns: 1fr;
  }

  .price-list__header, .price-list__row {
    text-align: left;
  }
}
