/* catalog */
.catalog__subtitle {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.catalog__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;

  max-width: var(--screen-width);
  margin: 0 auto;
}

/* product */
.product {
  padding: 12px 8px;

  -webkit-box-shadow: 4px 8px 10px 0px rgba(var(--primary-color-rgb), 0.2);
  -moz-box-shadow: 4px 8px 10px 0px rgba(var(--primary-color-rgb), 0.2);
  box-shadow: 4px 8px 10px 0px rgba(var(--primary-color-rgb), 0.2);

  border-radius: var(--border-radius);
  background-color: var(--background-color);
}

.product__container {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.product__title {
  text-align: center;
  font-size: 1.4rem;

  padding-bottom: 10px;
}

.product__buttons {
  margin: 0 auto;
}

.product__button {
  padding: 8px 16px;
}

/* additional-info */
.additional-info__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 640px) {
  .additional-info {
    display: none;
  }
}